<html>
<head>
    <title>EJS Demo</title>
</head>
<body>
    <h1>Welcome, <%= user.name %>!</h1>

    <p>
        You are enrolled in <b><%= user.course %></b> at
        <b><%= user.college %></b>.
    </p>
</body>
</html>